.App {
	overscroll-behavior-x: none;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.display-title {
	font-family: "Inter", sans-serif;
}

.background-gradient {
	background: rgb(18, 33, 60);
	background: linear-gradient(
		0deg,
		rgb(11, 20, 37) 20%,
		rgba(18, 33, 60, 1) 50%,
		rgb(229, 117, 130) 70%,
		#fcbb60 120%
	);
}
